footer
	div(class="container")
		div(class="row hidden-xs hidden-sm")
			div(class="col-md-4")
				p Síguenos en Facebook:
				a(href="www.facebook.com/thetourist.pe" target="_blank" class="link") www.facebook.com/thetourist.pe
			div(class="col-md-3")
				p Inscríbete en la web:
				a(href="www.the.tourstap.com" target="_blank" class="link") www.the.tourstap.com
			div(class="col-md-3")
				p Escríbenos a:
				a(href="info@tourstap.com" target="_blank" class="link") info@tourstap.com
			div(class="col-md-2")
				img(class="logo" src="assets/img/logo.png")

		div(class="row hidden-md hidden-lg")
			div(class="col-xs-4")
				a(href="www.facebook.com/thetourist.pe" target="_blank")
					img(src="assets/icon/icono-facebook.png")
			div(class="col-xs-4")
				a(href="www.the.tourstap.com" target="_blank")
					img(src="assets/icon/icono-web.png")
			div(class="col-xs-4")
				a(href="info@tourstap.com" target="_blank")
					img(src="assets/icon/icono-mensaje.png")