doctype html
html
	head
		title Tourist
		meta(charset="utf-8")
		link(rel="stylesheet" href="assets/css/main.css") 
		link(rel="stylesheet" href="assets/css/sanfrancisco-font.css")
		link(rel="stylesheet" href="assets/css/bootstrap.min.css")  
	body
		section(class="bg-green")
			div(class="container")
				div(class="row")
					div(class="col-xs-12 col-md-11")
						h1 Bienvenido a nuestra comunidad The Tourist
						h2 Robert Smith
						p Gracias por ser parte de nuestra comunidad, The Tourist App te da la bienvenida y te agradece por tu participación. Juntos iniciaremos un nuevo recorrido de aventuras e historias inolvidables.
						p Esta es una prueba de pre lanzamiento para ayudarte a descubrir lo que The Tourist te ofrecerá en muy poco tiempo. Por participar de este evento, estarás ganando puntos los cuales podrás canjear en descuentos. Pasa la voz, The tourist está cerca.

		section(class="descuentos")
			div(class="container")
				div(class="row")
					div(class="col-xs-12")
						h1(class="title") Escoge el descuento que te gustaría obtener
					div(class="col-xs-12 col-md-3")
						div(style="background-image:url('assets/img/d-1.jpg');")
							span(class="text-dsct") -50%
							span(class="text-pts") 70pts

						h4 Sandboard y Sandbuggles

						p(class="sub-title") Full Adrenalina

						p(class="text-strike") Precio real: s/70.00

						p(class="limit-time") Quedan: 20 cupos

						p(class="limit-time") Tiempo limitado: 3d 00:00:00

						ul
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina


					div(class="col-xs-12 col-md-3")
						div(style="background-image:url('assets/img/d-2.jpg'); ")
							span(class="text-dsct") -50%
							span(class="text-pts") 70pts

						h4 Sandboard y Sandbuggles

						p(class="sub-title") Full Adrenalina

						p(class="text-strike") Precio real: s/70.00

						p(class="limit-time") Quedan: 20 cupos

						p(class="limit-time") Tiempo limitado: 3d 00:00:00

						ul
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina

					div(class="col-xs-12 col-md-3")
						div(style="background-image:url('assets/img/d-3.jpg');")
							span(class="text-dsct") -50%
							span(class="text-pts") 70pts

						h4 Sandboard y Sandbuggles

						p(class="sub-title") Full Adrenalina

						p(class="text-strike") Precio real: s/70.00

						p(class="limit-time") Quedan: 20 cupos

						p(class="limit-time") Tiempo limitado: 3d 00:00:00

						ul
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina

					div(class="col-xs-12 col-md-3")
						div(style="background-image:url('assets/img/d-4.jpg');")
							span(class="text-dsct") -50%
							span(class="text-pts") 70pts

						h4 Sandboard y Sandbuggles

						p(class="sub-title") Full Adrenalina

						p(class="text-strike") Precio real: s/70.00

						p(class="limit-time") Quedan: 20 cupos

						p(class="limit-time") Tiempo limitado: 3d 00:00:00

						ul
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina
							li *Vive una experiencia única practicando sandboardinf y sandbuggles en las dunas de la huacachina

		include footer