smartphonexsWidth = 320px
smartphoneWidth = 480px
tabletWidth = 768px
desktopmdWidth = 1024px

mqSmartphonexs = "(max-width: " + smartphonexsWidth +")"
mqSmartphone = "(max-width: " + smartphoneWidth "), (min-width: " + smartphonexsWidth + 1px + ")"
mqTablet = "(max-width: " + tabletWidth + "), (min-width: " + smartphoneWidth + 1px + ") "
mqDesktopmd = "(max-width: " + desktopWidth + "), (min-width: " + tabletWidth + 1px + ")"